{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
    
    body {
        color : red;
    }
    {% endblock %}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block form %}
        {{ form_start(form) }}
    
            {{ form_row(form.loginName) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.dateOfBirth) }}
            {{ form_row(form.gender.name) }}
            {{ form_row(form.bloodGroup.name) }}
            {#{{ form_label(form.emailIds) }}
 
            {% for emailField in form.emailIds %}
                {{ form_widget(emailField) }}
                {{ form_errors(emailField) }}
            {% endfor %}
            <input type='button' id='addEmailId' value='+' onclick='addField(this)'
               data-prototype="{{ form_widget(form.emailIds.vars.prototype)|e}}">
            {{ form_row(form.register) }}

        {{ form_end(form) }}#}
    {% endblock %}

        
    {% block javascripts %}
        <script>
            function addField(field)
            {
                var newField = field.getAttribute('data-prototype');
                field.previousSibling.innerHTML(newField);
            }
        {# // keep track of how many email fields have been rendered
    var emailCount = '{{ form.emailIds|length }}';

    jQuery(document).ready(function() {
        jQuery('#add-another-email').click(function(e) {
            console.log(e);
            e.preventDefault();
            console.log(emailCount);

            var emailList = jQuery('#email-fields-list');
            console.log(emailList);
            // grab the prototype template
            var newWidget = emailList.attr('data-prototype');
            console.log(newWidget);
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;

            // create a new list element and add it to the list
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(emailList);
        });
    })#}    
        </script>
    {% endblock %}
{% endblock %}