{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
    {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block table %}
        <input type="button" value="Add User" onclick="location.href='/users/new'">
        <table>
            <tr>
                <th>Id</th>
                <th>Login Name</th>
                <th>View</th>
            </tr>
            {% for user in limitedUsers %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.loginName }}</td>
                <td><input type="button" onclick="location.href='/users/{{ user.id }}'"></td>
            </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(limitedUsers) }}
        </div>
    {% endblock %}
{% endblock %}

