{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
    {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block table %}
        <table>
            {% for entity in entities %}
                {% for key in entities|keys %}
                    <tr>
                        <td>{{(key|split('_'))|join(' ')|capitalize}}</td>
                        <td>{{entity[key]}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/user/js/createTable.js') }}">            
        </script>
    {% endblock %}
{% endblock %}