{% extends 'base.html.twig' %}

{% block head %}
    {% block stylesheets %}
    {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block table %}
        <table border="ridge">
            <tr>
                <td>Id</td>
                <td>{{ entities.id }}</td>
            </tr>
            <tr>
                <td>Login Name</td>
                <td>{{ entities.loginName }}</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ entities.firstName }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ entities.lastName }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{ entities.gender }}</td>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <td>{{ entities.dateOfBirth|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <td>Blood Group</td>
                <td>{{ entities.bloodGroup }}</td>
            </tr>
        </table>
        <br>
        <table border="ridge">
            <tr>
                <td>Email Address</td>
            </tr>
            
                {% for emails in entities.emailIds %}
                    <tr>
                    <td>{{ emails.email }}</td>
                    </tr>
                {% endfor %}
            
        </table>
        <br>
        <table border="ridge">
            <tr>
                <td>Contact Numbers</td>
            </tr>
            
                {% for numbers in entities.mobileNumbers %}
                    <tr>
                    <td>{{ numbers.number }}</td>
                    </tr>
                {% endfor %}
            
        </table>
        <br>
        <table border="ridge">
            <tr>
                <td>Area Of Interest</td>
            </tr>
            
                {% for interest in entities.interests %}
                    <tr>
                    <td>{{ interest.areaOfInterest }}</td>
                    </tr>
                {% endfor %}
            
        </table>
        <br>
        <table border="ridge">
            <tr>
                <td>Graduation</td>
                <td>Institute Name</td>
                {% for gradLevel in entities.education %}
                <tr>
                    <td>{{ gradLevel.graduation }}</td>
                    <td>{{ gradLevel.instituteName }}</td>
                </tr>
                {% endfor %}
            </tr>
        </table>        
        <br>
        <input type="button" value="Edit" onclick="location.href='/users/edit/{{ entities.id }}'">
    {% endblock %}
{% endblock %}
